.header-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(242, 178, 126);
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    list-style-type: none;
}
p {
    color: rgb(255, 81, 110);
}